.card {
    min-width: calc(100%/3.3);
    width: calc(100%/3.3);
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    font-size: .8rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.card>div>form>button,
.trash-icon-area>form>button {
    background-color: transparent;
    border: none;
}

.search-footer>div>a, .search-footer>div>p,.header-card>a{
    text-decoration: none;
    font-weight: bold;
    color: var(--dark_blue);
}

.header-card {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.header-card>form>button>img {
    width: 32px;
    cursor: pointer;
}

.header-card>img {
    width: 32px;
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.content-card > p{
    word-wrap: break-word;
}

.content-card>img {
    width: 100%;
}

.footer-card {
    display: flex;
}

.search-footer {
    display: flex;
    width: 85%;
}

.search-footer>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    width: calc(100%/2);
}

.search-footer > div > a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trash-icon-area {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-icon-area>form>button>img {
    width: 30px;
    cursor: pointer;
}