.add-folder-area{
    background-color: #9bd4e4;
    width: 100%;
    height: 5em;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.add-folder-area *{
    font-size: 1rem;
}

.add-folder-area > form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.add-folder-area > form > span { 
    font-weight: bold;
}
.add-folder-area > form > input { 
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: .1s ease-in-out;
}

.add-folder-area > form > input:hover { 
    border-bottom: 2px solid black;
}

.add-folder-area > form > button { 
    margin-left: 10px;
    padding: 3px;
    border-radius: 4px;
    background-color: rgb(221, 221, 221);
    border: none;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .4);
    transition: .1s ease-in-out;
}

.add-folder-area > form > button:hover {     
    box-shadow: none;
}

.folder-div{
    margin: 0 1em;
    max-width: calc(100%/4);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.btn-folder, .btn-folder > img {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border: none;
}

.btn-folder > p {
    font-size: 1.2rem;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-folder {
    box-sizing: unset;
    border-radius: 7px;
    padding: 10px;
    transition: .2s ease-in-out;
}

.btn-folder:hover {
    background-color: #cadeef;
}