.add-link-area{ 
    width: 18em;
    height: 25em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
    background-color: white;
    position: relative;
    position: sticky;
    right: 1.5em;
    top: calc(50% - 10em);
}
.adding-link {
    position: absolute;
    visibility: hidden;
}

.before-add-link {
    display: flex;
}